@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.beast {
    position: absolute;
    width: 7.3125rem;
    height: 1.0625rem;
    margin-left: 6.4375rem;
    top: 2.125rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    display: flex;
    align-items: center;
    color: #000000;
}

.navbar {
    color: #8D8787;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

:hover {
    color: #000000;
}

.navbar-0 {
    position: absolute;
    width: 2.8125rem;
    height: 5.75rem;
    margin-left: 23.0625rem;
    top: 0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-1 {
    position: absolute;
    width: 5.6875rem;
    height: 5.75rem;
    margin-left: 30.25rem;
    top: 0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-2 {
    position: absolute;
    width: 2.625rem;
    height: 5.75rem;
    margin-left: 40.3125rem;
    top: 0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-3 {
    position: absolute;
    width: 5rem;
    height: 5.75rem;
    margin-left: 47.3125rem;
    top: 0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-4 {
    position: absolute;
    width: 5.625rem;
    height: 5.75rem;
    margin-left: 56.6875rem;
    top: 0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-5 {
    position: absolute;
    width: 3.8125rem;
    height: 5.75rem;
    margin-left: 72.8125rem;
    top: 0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-6 {
    position: absolute;
    width: 3.1875rem;
    height: 5.75rem;
    margin-left: 80.375rem;
    top: 0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-hr {
    margin-top: 5.8125rem;
}

@media only screen and (min-width: 1080px) {
    .beast {
        width: 10.26309rem;
        height: 1.49121875rem;
        margin-left: 9.03503125rem;
        top: 2.9824375rem;
        font-size: 2.10525rem;
        line-height: 2.54384375rem;
    }
    
    .navbar {
        font-size: 1.2280625rem;
        line-height: 1.49121875rem;
    }
    
    .navbar-0 {
        width: 3.94734375rem;
        height: 8.070125rem;
        margin-left: 32.36821875rem;
    }
    
    .navbar-1 {
        width: 7.98240625rem;
        height: 8.070125rem;
        margin-left: 42.455875rem;
    }
    
    .navbar-2 {
        width: 3.6841875rem;
        height: 8.070125rem;
        margin-left: 56.57859375rem;
    }
    
    .navbar-3 {
        width: 7.0175rem;
        height: 8.070125rem;
        margin-left: 66.40309375rem;
    }
    
    .navbar-4 {
        width: 7.8946875rem;
        height: 8.070125rem;
        margin-left: 79.56090625rem;
    }
    
    .navbar-5 {
        width: 5.35084375rem;
        height: 8.070125rem;
        margin-left: 102.19234375rem;
    }
    
    .navbar-6 {
        width: 4.47365625rem;
        height: 8.070125rem;
        margin-left: 112.8063125rem;
    }
    
    .navbar-hr {
        margin-top: 8.15784375rem;
    }
}