basePath: /
definitions:
  api.AuthorizationChallengeResp:
    properties:
      challenge:
        example:
        - Challenge String
        items:
          type: byte
        type: array
      message:
        example: Response message
        type: string
    type: object
  api.AvailableImagesResp:
    properties:
      images:
        example:
        - '[''ubuntu16.04'''
        - ' ''ubuntu18.04'']'
        items:
          type: string
        type: array
      message:
        example: Available Base images.
        type: string
    type: object
  api.ChallengeStatusResp:
    properties:
      name:
        example: Web Challenge
        type: string
      status:
        example: deployed
        type: string
      updated_at:
        example: "2018-12-31T22:20:08.948096189+05:30"
        type: string
    type: object
  api.ChallengesResp:
    properties:
      challenges:
        items:
          type: string
        type: array
      message:
        type: string
    type: object
  api.HTTPAuthorizeResp:
    properties:
      message:
        example: Response message
        type: string
      token:
        example: YOUR_AUTHENTICATION_TOKEN
        type: string
    type: object
  api.HTTPErrorResp:
    properties:
      error:
        example: Error occured while veifying the challenge.
        type: string
    type: object
  api.HTTPPlainResp:
    properties:
      message:
        example: Messsage in response to your request
        type: string
    type: object
  api.LogsInfoResp:
    properties:
      stderr:
        example: '[ERROR] Challenge deployment failed.'
        type: string
      stdout:
        example: '[INFO] Challenge is starting to deploy'
        type: string
    type: object
  api.PortsInUseResp:
    properties:
      port_max_value:
        example: 20000
        type: integer
      port_min_value:
        example: 10000
        type: integer
      ports_in_use:
        example:
        - '[10000'
        - ' 100001'
        - ' 100003'
        - ' 10010]'
        items:
          type: uint32
        type: array
    type: object
host: beast.sdslabs.co
info:
  contact:
    email: contact.sdslabs.co.in
    name: SDSLabs
    url: https://chat.sdslabs.co
  description: Beast the automatic deployment tool for backdoor
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Beast API
  version: "1.0"
paths:
  /api/config/reload/:
    patch:
      consumes:
      - application/json
      description: Populates beast gobal config map by reparsing the config file $HOME/.beast/config.toml.
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Reloads any changes in beast global configuration, located at ~/.beast/config.toml.
      tags:
      - config
  /api/info/challenges/available:
    get:
      consumes:
      - application/json
      description: Returns all challenges available in the in the database
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.ChallengesResp'
            type: object
        "402":
          description: Payment Required
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Gives all challenges available in the in the database
      tags:
      - info
  /api/info/images/available:
    get:
      consumes:
      - application/json
      description: Returns all the available base images  which can be used for challenge
        creation as the base OS for challenge.
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.AvailableImagesResp'
            type: object
      summary: Gives all the base images that can be used while creating a beast challenge,
        this is a constant specified in beast global config
      tags:
      - info
  /api/info/logs/:
    get:
      consumes:
      - application/json
      description: Gives container logs for a particular challenge, useful for debugging
        purposes.
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      - description: The name of the challenge to get the logs for.
        in: query
        name: challenge
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.LogsInfoResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Handles route related to logs handling of container
      tags:
      - info
  /api/info/ports/used:
    get:
      consumes:
      - application/json
      description: Returns the ports in use by beast, which cannot be used in creating
        a new challenge..
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.PortsInUseResp'
            type: object
      summary: Returns ports in use by beast by looking in the hack git repository,
        also returns min and max value of port allowed while specifying in beast challenge
        config.
      tags:
      - info
  /api/manage/challenge/:
    post:
      consumes:
      - application/json
      description: Handles challenge management routes with actions which includes
        - DEPLOY, UNDEPLOY, PURGE.
      parameters:
      - description: Name of the challenge to be managed, here name is the unique
          identifier for challenge
        in: query
        name: name
        required: true
        type: string
      - description: Action for the challenge
        in: query
        name: action
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Handles challenge management actions.
      tags:
      - manage
  /api/manage/commit/:
    post:
      consumes:
      - application/json
      description: Validates challenge configuration for deployment.
      parameters:
      - description: Name of the challenge to verify the deployment configuration
          for.
        in: query
        name: challenge
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPErrorResp'
            type: object
      summary: Validates the configuration of the challenge and tells if challenge
        can be deployed or not.
      tags:
      - manage
  /api/manage/deploy/local:
    post:
      consumes:
      - application/json
      description: Handles deployment of a challenge using the absolute directory
        path
      parameters:
      - description: Challenge Directory
        in: query
        name: challenge_dir
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "406":
          description: Not Acceptable
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Deploy a local challenge using the path provided in the post parameter
      tags:
      - manage
  /api/manage/multiple/:
    post:
      consumes:
      - application/json
      description: Handles challenge management routes for multiple the challenges
        with actions which includes - DEPLOY, UNDEPLOY.
      parameters:
      - description: Action for the challenge
        in: query
        name: action
        required: true
        type: string
      - description: Tag for a group of challenges
        in: query
        name: tag
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Handles challenge management actions for multiple challenges.
      tags:
      - manage
  /api/manage/schedule/:
    post:
      consumes:
      - application/json
      description: Handles scheduleing of challenge action to executed at some later
        point of time
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      - description: Action for the underlying challenge in context
        in: query
        name: action
        required: true
        type: string
      - description: The name of the challenge to schedule the action for.
        in: query
        name: challenge
        type: string
      - description: Tag corresponding to challenges in context, optional if challenge
          name is provided
        in: query
        name: tags
        type: string
      - description: Timestamp at which the challenge should be scheduled should be
          a unix timestamp string.
        in: query
        name: at
        type: string
      - description: Time after which the action on the selector should be executed
          should be of duration format as in '1m20s' etc.
        in: query
        name: after
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Schedule an action(deploy, undeploy, purge etc.) on a particular challenge
      tags:
      - manage
  /api/manage/static/:
    post:
      consumes:
      - application/json
      description: Handles beast static content serving container routes.
      parameters:
      - description: Action to apply on the beast static content provider
        in: query
        name: action
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Handles route related to beast static content serving container, takes
        action as route parameter and perform that action
      tags:
      - manage
  /api/remote/reset/:
    post:
      consumes:
      - application/json
      description: Resets local copy of remote git directory, it first deletes the
        existing directory and then clone from the remote again.
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Resets beast local copy of remote git repository.
  /api/remote/sync/:
    post:
      consumes:
      - application/json
      description: Syncs beasts local challenges database with the remote git repository(hack)
        the local copy of the challenge database is located at $HOME/.beast/remote/$REMOTE_NAME.
      parameters:
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Syncs beast's local copy of remote git repository for challenges.
  /api/status/all/:
    get:
      consumes:
      - application/json
      description: This returns the challenges in the status provided, along with
        their name and last updated time.
      parameters:
      - description: Status type to filter with, if none specified then all
        in: query
        name: filter
        required: true
        type: string
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/api.ChallengeStatusResp'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Returns challenge deployment status from the beast database for the
        challenges which matches the stauts according to filter.
      tags:
      - status
  /api/status/challenge/:
    get:
      consumes:
      - application/json
      description: Returns challenge deployment status from the beast database, for
        those challenges which are not present a status value NA is returned.
      parameters:
      - description: Name of the challenge
        in: query
        name: name
        required: true
        type: string
      - description: Bearer
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.ChallengeStatusResp'
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Returns challenge deployment status from the beast database.
      tags:
      - status
  /auth/:
    get:
      description: Sends challenge for authorization of user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.AuthorizationChallengeResp'
            type: object
        "406":
          description: Not Acceptable
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Handles challenge generation
      tags:
      - auth
    post:
      consumes:
      - application/json
      description: JWT can be received by sending back correct answer to challenge
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HTTPAuthorizeResp'
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/api.HTTPPlainResp'
            type: object
      summary: Handles solution check and token production
      tags:
      - auth
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
